<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv="content-type"
 content="text/html; charset=ISO-8859-1">
  <title>UML Example</title>
</head>
<body>
<div style="text-align: center;"><big><big><span
 style="font-weight: bold;">UML Lifecycle Example</span></big></big><br>
</div>
<br>
This webpage gives a very high level example of a project's lifecycle
using the
Unified Modeling Language (UML).&nbsp; The example will create a simple
calculator program that has an error in the requirements.&nbsp; The UML
diagrams and program will inherit this mistake until the testing phase
finds the error.&nbsp; Then the project team goes back through the
entire model to resolve this problem.&nbsp; This is a very simple
example and not really a very good example.&nbsp; A better example is
in work.<br>
<br>
<span style="font-weight: bold;">(future example)</span><br
 style="font-weight: bold;">
<span style="font-weight: bold;">Although this example is extreme the
point is the problem is iterative,
meaning you can perform several requirements at the same time versus
waterfall where not one piece of code is written until the end.</span><br>
<br>
<span style="font-weight: bold;">Task</span><br>
<br>
A project or task is assigned or conceptualized.&nbsp; To understand
the basics we will use a very simple example.&nbsp; Our task is to
generate a program that will first add two numbers and then subtract
two numbers.&nbsp; We will call our program Calculate.<br>
<br>
<span style="font-weight: bold;">UML Steps</span><br>
<a href="#useCaseDiagrams">Use Case Diagrams</a><br>
<a href="#requirements">Requirements</a><br>
<a href="#sequenceDiagrams">Sequence Diagrams</a><br>
<a href="#classDiagrams">Class Diagrams</a><br>
<a href="#code">Code</a><br>
<a href="#implementation">Implementation</a><br>
<a href="#test">Test</a><br>
<a href="#finally">Finally</a><br>
<br>
Use Cases and Requirements
can be performed in either order or at the same time.&nbsp; There is no
rule that states they must be sequentially in this order.<br>
<br>
<a name="requirements"></a><span style="font-weight: bold;">1)&nbsp;
Generate Requirements</span><br>
<br>
<div style="margin-left: 40px;">Actors:&nbsp; User<br>
System:&nbsp; Calculate<br>
Requirement 1:&nbsp;&nbsp; Add two numbers (operand1 + operand2)<br>
Requirement 2:&nbsp; Subtract two numbers (operand1 + operand2)<span
 style="color: rgb(0, 102, 0); font-weight: bold;">&nbsp;
&lt;- this is not a typo, we are making a point for later.</span><br>
</div>
<br style="font-weight: bold;">
<a name="useCaseDiagrams" style="font-weight: bold;"></a><span
 style="font-weight: bold;">2)&nbsp; Generate a Use Case Diagram</span><br>
<br>
<div style="margin-left: 40px;">An <span
 style="font-weight: bold; color: rgb(0, 102, 0);">Actor</span> (stick
figure) is a role
played for a system.<br>
A <span style="font-weight: bold; color: rgb(0, 102, 0);">Use Case</span>
(oval) is a set of scenarios tied together
by a common goal.<br>
A <span style="font-weight: bold; color: rgb(0, 102, 0);">Scenario</span>
is a sequence of steps describing an interaction between an
actor and a use case.&nbsp; The scenarios are typed up and placed in
the description textarea of an Use Case Diagram.<br>
<br>
<img src="useCaseDiagram.gif" title="" alt=""><br>
</div>
<div style="margin-left: 80px;"><span style="font-weight: bold;">In our
example:</span><br>
</div>
<div style="margin-left: 40px;"><br>
</div>
<div style="margin-left: 80px;">The user will input two sets of numbers
to be added and then
subtracted.&nbsp; The system will manipulate those numbers according to
the requirements that have been derived from the requirements.&nbsp; By
defining these figures in the Use Case Diagram the Activity Diagrams,
Sequence Diagrams and several other diagrams can obtain these artifacts
and continue to build upon them.<small><small><small><small><small><p:colorscheme
 colors="#FFFFFF,#000000,#808080,#000000,#BBE0E3,#333399,#009999,#99CC00"></p:colorscheme></small></small></small></small></small><br>
</div>
<br>
<a name="sequenceDiagrams"></a><span style="font-weight: bold;">3)&nbsp;
Generate Sequence Diagrams and/or Activity Diagrams</span><br>
<br>
<div style="margin-left: 40px;">A sequence diagram is an interaction
diagram that emphasizes the time
ordering of messages.&nbsp; The diagram below illustrates the sequence
of events and the methods add() and subtract() of the Calculate
object.&nbsp; The arrow heads point to the object that contains the
methods.&nbsp; The dashed arrows are the return values (results) being
sent by the Calculate object.<span style="font-weight: bold;">&nbsp;
Note:&nbsp; The User Actor and Calculate Object are auto generated in
the Sequence Diagram because these were defined in the Use Case Diagram.</span><br>
<img src="sequenceDiagram.gif" title="" alt=""
 style="width: 272px; height: 240px;"><br>
</div>
<div style="margin-left: 80px;"><span style="font-weight: bold;">In our
example:</span><br>
</div>
<div style="margin-left: 40px;"><br>
<div style="margin-left: 40px;">The user sends two operands to the
add() method of the Calculate Object.&nbsp; 2)&nbsp; The add() method
returns the results.&nbsp; 3)&nbsp; The user sends two operands to the
subtract() method of the Calculate Object.&nbsp; 4)&nbsp; The user
subtract() method returns the results.<br>
</div>
</div>
<div style="margin-left: 80px;"><br>
</div>
<a name="classDiagrams"></a><span style="font-weight: bold;">4)&nbsp;
Generate Class Diagrams</span><br>
<br>
<div style="margin-left: 40px;">A class diagram shows the structure of
classes, interfaces, collaborations and
their relationships.&nbsp; Class diagrams are generated so that actual
code can be developed.&nbsp; Class diagrams have the form of&nbsp; a
rectangle with 3 sections.&nbsp; The top section is the Class name,
middle section are the attributes for the class and the bottom section
are the methods for the class.&nbsp; <span style="font-weight: bold;">Note:&nbsp;
The methods add() and subtract() and the Class Calculate are auto
generated in the Class Diagram because these were defined in the
Sequence Diagram.</span><br>
<br>
<p:colorscheme
 colors="#FFFFFF,#000000,#808080,#000000,#BBE0E3,#333399,#009999,#99CC00"></p:colorscheme>
</div>
<div v:shape="_x0000_s1026" class="O" style="margin-left: 40px;">
<div style=""><span style="font-size: 156%;"><span
 style="position: absolute; left: -3.51%;">&#8226;</span></span></div>
</div>
<div style="margin-left: 40px;"><img src="classDiagram.gif" title=""
 alt="" style="width: 259px; height: 94px;"><br>
</div>
<div style="margin-left: 80px;"><span style="font-weight: bold;"><br>
In our
example:</span><br>
</div>
<div style="margin-left: 40px;"><br>
</div>
<div style="margin-left: 80px;">1)&nbsp; Calculate is the class
name.&nbsp; 2)&nbsp; Result is the only attribute of an integer type
and an initial value of zero.&nbsp; 3)&nbsp; Calculate() is the class
constructor.&nbsp; 4)&nbsp; Add and subtract methods take two integer
operands as input and both methods return an integer value.<br>
</div>
<br>
<a name="code"></a><span style="font-weight: bold;">5)&nbsp; Generate
Code</span><br>
<br>
<div style="margin-left: 40px;">Most UML tools will generate your codes
architecture, not the
implementation.&nbsp; <span style="font-weight: bold;">Note:&nbsp; The
Calculate Java class was auto generated from the Class Diagram.</span><br>
<br style="color: rgb(51, 204, 0); font-weight: bold;">
<p:colorscheme
 colors="#FFFFFF,#000000,#808080,#000000,#BBE0E3,#333399,#009999,#99CC00"
 style="color: rgb(51, 204, 0); font-weight: bold;"></p:colorscheme>
</div>
<div v:shape="_x0000_s1026" class="O"
 style="font-weight: bold; color: rgb(0, 153, 0);">
<div style="margin-left: 40px;"><span style="font-size: 12pt;"><span
 style="width: 4.74%;">&nbsp;&nbsp;
</span></span>public class
Calculate {
</div>
<div style="margin-left: 40px;"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span>private int result = 0;
</div>
<div style="margin-left: 40px;"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style="width: 10.89%;"> </span>public Calculate() {}
</div>
<div style="margin-left: 40px;"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style="width: 10.01%;"> </span><br>
&nbsp;&nbsp;&nbsp;&nbsp; public int add(int operand1, int operand2) {
</div>
<div style="margin-left: 40px;"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style="width: 22.66%;"> </span>return 0;
</div>
<div style="margin-left: 40px;"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style="width: 10.01%;"> </span>}
</div>
<div style="margin-left: 40px;"><span style="">&nbsp;&nbsp;
</span><span style="width: 10.01%;"> </span></div>
<div style="margin-left: 40px;"><span style="width: 12.64%;">&nbsp;&nbsp;&nbsp;&nbsp;
</span>public int
subtract(int operand1, int operand2) {
</div>
<div style="margin-left: 40px;"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style="width: 21.78%;"> </span>return 0;
</div>
<div style="margin-left: 40px;"><span style="">&nbsp;&nbsp;&nbsp;
</span><span style="width: 10.89%;"> </span>}
</div>
<div style="margin-left: 40px;"><span style="width: 4.74%;">&nbsp; </span>}
</div>
</div>
<br>
<a name="implementation" style="font-weight: bold;"></a><span
 style="font-weight: bold;">6)&nbsp; Add Implementation</span><br>
<br>
<div style="margin-left: 40px;">Now the developers look at the
requirements and add the implementation
to the code, in accordance with the requirements.<br>
<br>
</div>
<div v:shape="_x0000_s1026" class="O" style="color: rgb(0, 0, 153);">
<div style="font-weight: bold; margin-left: 40px;"><span
 style="font-size: 12pt;"><span style="width: 4.74%;">&nbsp;&nbsp;
</span></span>public class
Calculate {
</div>
<div style="font-weight: bold; margin-left: 40px;"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span>private int result = 0;
</div>
<div style="font-weight: bold; margin-left: 40px;"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style="width: 10.89%;"> </span>public Calculate() {}
</div>
<div style="font-weight: bold; margin-left: 40px;"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style="width: 10.01%;"> </span><br>
&nbsp;&nbsp;&nbsp;&nbsp; public int add(int operand1, int operand2) {<br>
<span style="color: rgb(0, 102, 0);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
result = operand1 + operand2;&nbsp;&nbsp; // code implementation</span><br
 style="color: rgb(0, 102, 0);">
</div>
<div style="font-weight: bold; margin-left: 40px;"><span
 style="color: rgb(0, 102, 0);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style="width: 22.66%; color: rgb(0, 102, 0);"> </span><span
 style="color: rgb(0, 102, 0);">return result;</span>
</div>
<div style="font-weight: bold; margin-left: 40px;"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style="width: 10.01%;"> </span>}
</div>
<div style="font-weight: bold; margin-left: 40px;"><span style="">&nbsp;&nbsp;
</span><span style="width: 10.01%;"> </span></div>
<div style="font-weight: bold; margin-left: 40px;"><span
 style="width: 12.64%;">&nbsp;&nbsp;&nbsp;&nbsp; </span>public int
subtract(int operand1, int operand2) {
</div>
<div
 style="font-weight: bold; color: rgb(0, 102, 0); margin-left: 40px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
result = operand1 + operand2;&nbsp; // remember this is an error in the
requirements<br>
<div style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span style="width: 22.66%;"> </span>return result;
</div>
</div>
<div style="font-weight: bold; margin-left: 40px;"><span style="">&nbsp;&nbsp;&nbsp;
</span><span style="width: 10.89%;"> </span>}
</div>
<div style="margin-left: 40px;"><span
 style="width: 4.74%; font-weight: bold;">&nbsp; </span><span
 style="font-weight: bold;">}</span></div>
</div>
<br>
<a name="test"></a><span style="font-weight: bold;">7)&nbsp; Test</span><br>
<br>
<div style="margin-left: 40px;">Now the test scripts are executed to
find errors:<br>
</div>
<ul style="margin-left: 40px;">
  <li>Test method add(), submit 2 numbers and verify that a sum is
correctly
produced.</li>
  <li>Test method subtract(), submit 2 numbers and verify that a
difference is
correctly produced.</li>
</ul>
<div style="margin-left: 40px;"></div>
<div style="margin-left: 80px;"><span
 style="color: rgb(0, 102, 0); font-weight: bold;">Method add(7,2)
result = 9 (Good)</span><br style="font-weight: bold;">
</div>
<div style="margin-left: 40px;"></div>
<div style="margin-left: 80px;"><span
 style="color: rgb(204, 0, 0); font-weight: bold;">Method subtract(7,2)
result = 9 (Bad)</span><br>
</div>
<br>
<span style="font-weight: bold;"><a name="finally"></a>8)&nbsp; Finally</span><br>
<br>
<div style="margin-left: 40px;">Now that we find that something is
incorrect, we track back to find the
mistake.&nbsp; We first go back to the classes.&nbsp; The classes look
good and they are in compliance with the Sequence Diagrams and
Requirements.&nbsp; Go back to the Sequence Diagrams and they look
correct.&nbsp; Go back to the requirements and we find the error in the
second requirement.&nbsp; We then go forward to the Sequence and Class
Diagrams
and there is no change required.&nbsp; Then the&nbsp; code is updated
and we test our program again.&nbsp; We pass
this time.<br>
<br>
The point is while you doing the requirements and UML diagrams, at any
point during the process, problems do come up and you can resolve them
before they become very costly at the end.&nbsp; An example would be
when we were in the Sequence Diagrams and someone noticed and
error.&nbsp; This would stop the work in that area and send back to
previous instances, e.g. Use Case Diagrams to resolve the problem,
without having to continue with the error in the Class Diagrams.<br>
</div>
<br>
</body>
</html>
